./code/data/DT.model
./code/data/NN.model.data-00000-of-00001
./code/data/NN.model.index
./code/data/NN.model.meta
./code/data/RF.model
./code/data/SVM.model
./code/data/curated_all_fields_dataset.csv
./code/data/curated_dataset.csv
./code/data/eval-DT.csv
./code/data/eval-NN.csv
./code/data/eval-RF.csv
./code/data/eval-SVM.csv
